<section class="advantages">
  <div class="container advantages-container">
    <div class="advantages-block-text">
      <h3 class="advantages-subtitle">Переваги</h3>
      <h1 class="advantages-title">Чому обрати нас?</h1>
      <p class="advantages-text">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <div class="advantages-block-list">
      <ul class="advantages-list">
        <li class="advantages-item">
          <picture class="advantages-picture"></picture>
          <h2 class="advantages-item-title">Стійкість та екологічність</h2>
          <p class="advantages-item-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </li>
        <li class="advantages-item">
          <picture class="advantages-picture"></picture>
          <h2 class="advantages-item-title">Міцність і довговічність</h2>
          <p class="advantages-item-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </li>
        <li class="advantages-item">
          <picture class="advantages-picture"></picture>
          <h2 class="advantages-item-title">Стильний та сучасний дизайн</h2>
          <p class="advantages-item-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
