@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 768px) {
    .reviews-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1440px) {
}

.reviews-title {
    font-family: "Comfortaa", Bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 80px;
}

.reviews-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 24px;
    max-width: 1100px;
    margin: 0 auto;
}

.star-icon {
    margin-bottom: 24px;
    width: 20px;
    height: 20px;
    fill: #3AC04C;
}

.review-author {
    font-family: "fira-sans", SemiBold;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-1-text);
}

.review-text {
    font-family: "Comfortaa", Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;
}